/* Header section Styling */

#headerNavigation {
    display: flex;
    justify-content: space-between;
}

#navigation {
    display: flex;
    gap: 15px;
}

#headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Main section Styling*/
#callUs {
    display: flex;
    gap: 20px;
}

#article {
    flex-basis: 50%;
    border: 1px solid black;
    align-items: center;
}

#form {
    flex-grow: 1;
    border: 1px solid black;
    background-color: gray;
    color: antiquewhite;
    padding: 10px;
    border-radius: 7px;

}

#submit {
    flex-direction: column;
    background-color: blue;
}